@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Manrope:wght@200..800&display=swap');


body{
    font-family: "Bai Jamjuree", serif;
    line-height:1.7;
}

.section-padding{
    padding-top: 120px;
    padding-bottom: 120px;
}

a{
    text-decoration: none;
}

/* ============== Navbar Start ======================== */
.navbar{
    transition: all 0.4s ease-out;
}
.navbar .navbar-nav .nav-link{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}
.navbar .navbar-nav .nav-link.active{
    color: var(--bs-info);
}


@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 24px;
        padding-left: 24px;
    }
}